#chart{
    height: 500px;
    /* background-color: whitesmoke; */
}


#selector{

    height: 500px;
    background-color:cornsilk; 
}
 


ul {
    list-style: none;
}



text {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    fill:#666;
}




.axis .tick line{
    visibility:hidden;
}



.axis path {
    stroke: darkgrey;
    stroke-width: 1.5px;
}


/* .axis line{
    stroke: #d3d3d3;
}

.y-axis path{
    stroke: #d3d3d3;
}


.x-axis path{
    stroke: #d3d3d3;
}


rect:hover{
    fill: #0C9CDF;
    transition: 0.15s all ease-in;
} */
