#chart{
    height: 500px;
    background-color: whitesmoke;
}


#selector{

    height: 500px;
    background-color:cornsilk; 
}
 

.priodButton {
    height: 60px;
    width: 100px;
}



ul {
    list-style: none;
}
